# Auto Mileage Calculations

Due: November 26, 2019 (11:59pm)

This is a reboot of mpg assignment where we will answer similar questions except this time it will be completed using a Pandas Dataframe and fewer tears.

Import the Pandas package and alias it as 'pd' - 5pts.

In [1]:
# first things first.  Let's import the pandas package.
import pandas as pd

If you are running the jupyter notebook session in the same directory as your data file (mpg.csv), creating the dataframe should be something like:
```
mpg = pd.read_csv('mpg.csv')
```

Read the data into a Pandas dataframe - 5pts.

In [2]:
mpg = pd.read_csv('mpg.csv')

Display the columns in the dataframe - 5pts.

In [3]:
# use the 'columns' attribute to view the columns of the dataframe
mpg.columns

Index(['id', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv',
       'cty', 'hwy', 'fl', 'class'],
      dtype='object')

Question 1: Calculate the average city mileage for all vehicles - 20pts.

In [4]:
# hint: combine mpg.cty and mpg.mean()
mpg.cty.mean()

16.858974358974358

Question 2: Calculate the average highway mileage for all vehicles - 20pts.

In [6]:
mpg.hwy.mean()

23.44017094017094

Question 3: Calculate the average highway mileage by class - 20pts.

In [8]:
# hint: use the groupby('class') function
mpg.groupby('class').hwy.mean()

class
2seater       24.800000
compact       28.297872
midsize       27.292683
minivan       22.363636
pickup        16.878788
subcompact    28.142857
suv           18.129032
Name: hwy, dtype: float64

Question 4: Calculate the average highway mileage by manufacturer - 20pts.

In [9]:
# hint: use the groupby('manufacturer') function
mpg.groupby('manufacturer').hwy.mean()

manufacturer
audi          26.444444
chevrolet     21.894737
dodge         17.945946
ford          19.360000
honda         32.555556
hyundai       26.857143
jeep          17.625000
land rover    16.500000
lincoln       17.000000
mercury       18.000000
nissan        24.615385
pontiac       26.400000
subaru        25.571429
toyota        24.911765
volkswagen    29.222222
Name: hwy, dtype: float64

Turn-in this notebook via Moodle
- name your notebook file: paws_id + '_assignment8.ipynb' - 5pts
- example: jdavi48_assignment8.ipynb

Good job!  Using Pandas, you accomplished in 5 lines of code (and minutes of effort) what likely took you dozens of lines of code (and hours of effort).