In [4]:
add = 2 + 2
add_str = "str" + "strr"
add_list = [1, 2, 3, 4, 5] + [1, 2]

sub = 3 - 1

mult = 3 * 3
mult_str = "str" * 3
mult_list = [1, 2, 3] * 3

div = 2 / 2

modulo = 10%3 # Gives10ou the the remainder of a division operation

floor_division = 7 // 2 # Gives you the largest multiple, in this case it's 3 

print(add)
print(add_str)
print(add_list)
print(sub)
print(mult)
print(mult_str)
print(mult_list)
print(div)
print(modulo)
print(floor_division)

4
strstrr
[1, 2, 3, 4, 5, 1, 2]
2
9
strstrstr
[1, 2, 3, 1, 2, 3, 1, 2, 3]
1.0
1
3

In [9]:
x= 5
modulo = 15%x

modulo

0

In [11]:
print(3 == 3) # Equals

print(3 != 4) # Does not equal

print(3 > 4) # Greater than

print(3 < 5) # Less than
print(2 >= 2) # Greater than or equal to

print(4 <= 4) # Less than or equal to

True
True
False
True
True
True

In [3]:
'if' in 'laskfdjaslfjiflaksdlk'

True

In [13]:
import numpy as np

In [14]:
np.array([1,4,6])

array([1, 4, 6])

In [34]:
test = list(range(3,100)) # use () not []
                          # () is for tuple
                          # [] is a list
                          # {} is a dict

for i in test:
    print ("i was", i)
    i += 1
    print("i is now", i)
print('Loop has ended') # is indented, it will place it at the end of ever loop

i was 3
i is now 4
i was 4
i is now 5
i was 5
i is now 6
i was 6
i is now 7
i was 7
i is now 8
i was 8
i is now 9
i was 9
i is now 10
i was 10
i is now 11
i was 11
i is now 12
i was 12
i is now 13
i was 13
i is now 14
i was 14
i is now 15
i was 15
i is now 16
i was 16
i is now 17
i was 17
i is now 18
i was 18
i is now 19
i was 19
i is now 20
i was 20
i is now 21
i was 21
i is now 22
i was 22
i is now 23
i was 23
i is now 24
i was 24
i is now 25
i was 25
i is now 26
i was 26
i is now 27
i was 27
i is now 28
i was 28
i is now 29
i was 29
i is now 30
i was 30
i is now 31
i was 31
i is now 32
i was 32
i is now 33
i was 33
i is now 34
i was 34
i is now 35
i was 35
i is now 36
i was 36
i is now 37
i was 37
i is now 38
i was 38
i is now 39
i was 39
i is now 40
i was 40
i is now 41
i was 41
i is now 42
i was 42
i is now 43
i was 43
i is now 44
i was 44
i is now 45
i was 45
i is now 46
i was 46
i is now 47
i was 47
i is now 48
i was 48
i is now 49
i was 49
i is now 50
i was 50
i is now 51
i was 51
i is now 52
i was 52
i is now 53
i was 53
i is now 54
i was 54
i is now 55
i was 55
i is now 56
i was 56
i is now 57
i was 57
i is now 58
i was 58
i is now 59
i was 59
i is now 60
i was 60
i is now 61
i was 61
i is now 62
i was 62
i is now 63
i was 63
i is now 64
i was 64
i is now 65
i was 65
i is now 66
i was 66
i is now 67
i was 67
i is now 68
i was 68
i is now 69
i was 69
i is now 70
i was 70
i is now 71
i was 71
i is now 72
i was 72
i is now 73
i was 73
i is now 74
i was 74
i is now 75
i was 75
i is now 76
i was 76
i is now 77
i was 77
i is now 78
i was 78
i is now 79
i was 79
i is now 80
i was 80
i is now 81
i was 81
i is now 82
i was 82
i is now 83
i was 83
i is now 84
i was 84
i is now 85
i was 85
i is now 86
i was 86
i is now 87
i was 87
i is now 88
i was 88
i is now 89
i was 89
i is now 90
i was 90
i is now 91
i was 91
i is now 92
i was 92
i is now 93
i was 93
i is now 94
i was 94
i is now 95
i was 95
i is now 96
i was 96
i is now 97
i was 97
i is now 98
i was 98
i is now 99
i was 99
i is now 100
Loop has ended

In [36]:
x = 0
while x < 10:
    x += 1
    print(x)

1
2
3
4
5
6
7
8
9
10